.card-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
  height: 50rem;
  width: 100%;
  max-width: 35rem;
  margin-right: 4rem;

  .spinner-title {
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 2rem;
    font-size: 3rem;
  }

  form {
    display: flex;
    justify-content: space-evenly;
    padding: 0 1rem;

    label {
      width: 40%;
      text-align: left;
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      input {
        margin-top: 10px;
        border: none;
        border-bottom: 2px solid lightgray;

        &:focus {
          border-bottom: 2px solid black;
        }
      }
    }
  }

  .grandparent {
    height: 60%;
    padding: 5% 0;
    width: 100%;
    margin: 0 auto;

    #parent {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      .child {
        margin: 0 15px;
        font-size: 2rem;
        display: flex;
        flex-flow: column;
        height: 30%;
        border: 3px solid black;
        border-radius: 15px;
        p {
          margin: auto;
          text-align: center;
        }
      }
      .big-n-bold {
        margin: 0;
        height: 35%;
        margin-left: 1rem;
        margin-right: 1rem;
        font-weight: bold;

        p {
          font-size: 1.8em;
        }
      }
    }
  }
}
